body {
    margin: 2rem;
}

button {
    font-size: larger;
    font-weight: bold;
    margin-right: 25px;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.buttonsCont {
    display: flex;
    flex-direction: row;
}

.cardsContainer {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-evenly;
    gap: 20px;
    padding-top: 35px;
}

.pokemonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid darkgray;
    border-radius: 10px;
    width: fit-content;
    background-color: rgb(29, 84, 221);
    color: white;
}

.pokemonCardTop img {
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: lightgray;
}

.fightButton {
    display: none;
    background-color: red;
    color: white;
    font-weight: bold;
}

.restartButton {
    display: none;
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.randomButton {
    display: none;
    background-color: rgb(48, 252, 126);
    color: black;
    font-weight: bold;
}

.messageContainer {
    display: flex;
}

.finalMessage {
    display: none;
    font-size: x-large;
    font-weight: bold;
    padding: 0 40%;
}